@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italiana&display=swap");
img {
  -o-object-fit: cover;
     object-fit: cover;
}

.header-wrpper {
  background-color: #012d63;
  width: 100%;
  height: 93px;
}

.nav {
  margin-left: 25%;
  display: flex;
  -moz-column-gap: 15%;
       column-gap: 15%;
}

.nav-a {
  text-decoration: none;
  margin-top: 30px;
  font-weight: 400;
  font-size: 24px;
  color: #c7c7c7;
}

.nav-a:hover {
  color: #012d63;
  height: 40px;
  font-family: "Italiana";
  border-radius: 15px;
  background-color: #f7ebeb;
  box-shadow: 0 0 20px rgb(48, 153, 228), 0 0 40px rgba(249, 252, 255, 0.6), 0 0 60px rgba(171, 198, 226, 0.6);
  transform: scale(1.1);
}

.a-nav:hover {
  color: #012d63;
  height: 40px;
  border-radius: 15px;
  font-family: "Italiana";
  background-color: #2584bb;
  box-shadow: 0 0 20px rgb(63, 57, 57), 0 0 40px rgba(55, 88, 125, 0.6), 0 0 60px rgba(171, 198, 226, 0.6);
  transform: scale(1.1);
}

.a-nav:nth-child(1) {
  text-decoration: none;
  margin-top: 30px;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

.div-section {
  width: 100%;
  height: 250px;
  display: flex;
}
.div-section img {
  position: absolute;
  height: 1300px;
  width: 100%;
}
.div-section h3 {
  margin-left: 10%;
  font-size: 300px;
  color: #fff;
  mix-blend-mode: overlay;
}
.div-section p {
  margin-left: 5%;
  position: absolute;
  margin-top: 55%;
  font-size: 50px;
  color: #fff;
  mix-blend-mode: overlay;
}

.avengers-container {
  padding-top: 80%;
  background-color: #1d1b1b;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 100%;
}
.avengers-container .avengers-header {
  background-color: #163446;
  display: flex;
}
.avengers-container .avengers-header p {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 28px;
  width: 30%;
  color: #ffffff;
}
.avengers-container .avengers-content {
  padding: 150px;
}
.avengers-container .avengers-images h1 {
  padding-top: 5%;
  font-size: 150px;
  color: #fff;
}
.avengers-container .avengers-images .avengers-image {
  padding-top: 5%;
  width: 100%;
  height: 20%;
  border-radius: 10px;
  margin: 10px 0;
  margin-top: 5%;
}

.lesson-wrapper {
  height: 35rem;
  width: 100%;
  background: #382b36;
  display: flex;
}
.lesson-wrapper .headline-text {
  color: #ffffff;
  margin-top: 3%;
  margin-left: 10%;
  font-size: 80px;
}
.lesson-wrapper .headline-p {
  margin-top: 5%;
  width: 50%;
  margin-left: 10%;
  font-size: 25px;
  color: #ffffff;
}
.lesson-wrapper .img {
  height: 100%;
  width: 50%;
}

.epic-moments {
  background-color: #1d1b1b;
  height: 100%;
  width: 100%;
}
.epic-moments ul {
  display: flex;
  margin-left: 5%;
}
.epic-moments ul li {
  width: 30%;
  margin-right: 60px;
}
.epic-moments ul li img {
  margin-top: 15%;
  width: 100%;
  height: 70%;
}
.epic-moments ul li h3 {
  margin-top: 3%;
  font-size: 30px;
  color: #ffffff;
}
.epic-moments ul li p {
  margin-top: 2%;
  color: #ffffff;
  font-size: 20px;
}

.last-battle {
  padding-top: 5%;
  padding-bottom: 10%;
  width: 100%;
  height: 100%;
  background-color: #1d1b1b;
  display: flex;
}
.last-battle img {
  border: 2px solid #ffffff;
  width: 50%;
  height: 80%;
  margin-left: 4%;
  border-radius: 30px;
}
.last-battle p {
  font-family: "Italiana";
  width: 40%;
  position: absolute;
  font-size: 20px;
  margin-top: 30%;
  color: #ffffff;
  margin-left: 5%;
}
.last-battle section h1 {
  font-family: "Inter";
  color: #ffffff;
  margin-top: 5%;
  font-size: 100px;
}
.last-battle section h2 {
  font-family: "Italiana";
  margin-left: 35%;
  font-size: 25px;
  position: absolute;
  color: #ffffff;
}
.last-battle section h3 {
  font-family: "Italiana";
  position: absolute;
  font-size: 25px;
  margin-top: 1.5%;
  margin-left: 35%;
  color: #c7c7c7;
}
.last-battle section h4 {
  font-family: "Inter";
  color: #c7c7c7;
  font-size: 50px;
  margin-left: 5%;
}
.last-battle section p {
  font-family: "Inter";
  color: #ffffff;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  font-size: 30px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
.footer .footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}
.footer .footer-icons .footer-icon {
  text-decoration: none;
}/*# sourceMappingURL=avangers-theme.css.map */