@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italiana&display=swap");

.header-wrpper {
  background-color: #012d63;
  width: 100%;
  height: 93px;
}

.block {
  margin-left: 50px;
}

.nav {
  margin-left: 25%;
  display: flex;
  column-gap: 15%;
}

.nav-a {
  text-decoration: none;
  margin-top: 30px;
  font-weight: 400;
  font-size: 24px;
  color: #c7c7c7;
}

.nav-a:hover {
  color: #012d63;
  height: 40px;
  font-family: "Italiana";
  border-radius: 15px;
  background-color: #f7ebeb;
  box-shadow: 0 0 20px rgb(48, 153, 228), 0 0 40px rgba(249, 252, 255, 0.6),
    0 0 60px rgba(171, 198, 226, 0.6);
  transform: scale(1.1);
}

.a-nav:hover {
  color: #012d63;
  height: 40px;
  border-radius: 15px;
  font-family: "Italiana";
  background-color: #2584bb;
  box-shadow: 0 0 20px rgb(63, 57, 57), 0 0 40px rgba(55, 88, 125, 0.6),
    0 0 60px rgba(171, 198, 226, 0.6);
  transform: scale(1.1);
}

.a-nav:nth-child(1) {
  text-decoration: none;
  margin-top: 30px;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

