@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italiana&display=swap');
ul {
	margin: 0;
}
img {
	object-fit: cover;
}
.oskar-avengers{
	display: none;
}

.oskar-avengers-medals{
	display: none;
}

.form-div {
	width: 100%;
	background: url('https://www.rama-prozor.info/uploads/novosti/9/9/d/a/rvY9Oxzc_grmljavina.jpg')
		no-repeat center/ cover;
	padding-top: 50px;
	padding-bottom: 50px;
	& form {
		border-radius: 50px;
		background-color: #fff;
		padding: 20px;
		width: 30%;
		margin-left: 40%;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
			rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
			rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
		& .form-check-input {
			border-radius: 10px;
			width: 5%;
		}
		& input {
			width: 80%;
		}
	}
}

.header-wrapper {
	background-color: #012d63;
	width: 100%;
	height: 100px;
	position: relative;

	& .block {
		margin-left: 50px;
		& .nav {
			display: flex;
			align-items: center;
		}
		& .nav-links {
			display: flex;
			column-gap: 25%;
			margin-left: 25%;
			.a-nav,
			.nav-a {
				text-decoration: none;
				margin-top: 30px;
				font-size: 24px;
				color: #c7c7c7;
				transition: all 0.3s ease;
				&:hover {
					padding: 20px;
					color: #012d63;
					height: 50px;
					border-radius: 50px;
					font-family: 'Italiana';
					background-color: #f7ebeb;
					box-shadow: 0 0 20px rgb(48, 153, 228),
						0 0 40px rgba(249, 252, 255, 0.6), 0 0 60px rgba(171, 198, 226, 0.6);
					transform: scale(1.1);
				}
			}
			& .a-nav {
				color: #fff;
			}
		}
	}
}

.div-section {
	width: 100%;
	height: 250px;
	display: flex;
	& img {
		position: absolute;
		height: 1300px;
		width: 100%;
	}
	& h3 {
		margin-left: 10%;
		font-size: 300px;
		color: #fff;
		mix-blend-mode: overlay;
	}
	& p {
		margin-left: 5%;
		position: absolute;
		margin-top: 55%;
		font-size: 50px;
		color: #fff;
		mix-blend-mode: overlay;
	}
}

.avengers-container {
	padding-top: 80%;
	background-color: #1d1b1b;
	border-radius: 15px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
	text-align: center;
	max-width: 100%;
	& .avengers-header {
		background-color: #163446;
		display: flex;
	}
	& .avengers-header p {
		margin-top: 2%;
		margin-left: 2%;
		margin-right: 2%;
		font-size: 28px;
		width: 30%;
		color: #ffffff;
	}
	& .avengers-content {
		padding: 150px;
	}

	& .avengers-images {
		& h1 {
			padding-top: 5%;
			font-size: 150px;
			color: #fff;
		}
		& .avengers-image {
			padding-top: 5%;
			width: 100%;
			height: 20%;
			border-radius: 10px;
			margin: 10px 0;
			margin-top: 5%;
		}
	}
}

.lesson-wrapper {
	height: 35rem;
	width: 100%;
	background: #382b36;
	display: flex;
	& .headline-text {
		color: #ffffff;
		margin-top: 3%;
		margin-left: 10%;
		font-size: 80px;
	}
	& .headline-p {
		margin-top: 5%;
		width: 50%;
		margin-left: 10%;
		font-size: 25px;
		color: #ffffff;
	}
	& .img {
		height: 100%;
		width: 50%;
	}
}

.epic-moments {
	background-color: #1d1b1b;
	height: 100%;
	width: 100%;
	& ul {
		display: flex;
		margin-left: 5%;
		& li {
			width: 30%;
			margin-right: 60px;
			& img {
				margin-top: 15%;
				width: 100%;
				height: 70%;
			}
			& h3 {
				margin-top: 3%;
				font-size: 30px;
				color: #ffffff;
			}
			& p {
				margin-top: 2%;
				color: #ffffff;
				font-size: 20px;
			}
		}
	}
}

.last-battle {
	padding-top: 5%;
	padding-bottom: 10%;
	width: 100%;
	height: 100%;
	background-color: #1d1b1b;
	display: flex;
	& img {
		border: 2px solid #ffffff;
		width: 50%;
		height: 80%;
		margin-left: 4%;
		border-radius: 30px;
	}
	& p {
		font-family: 'Italiana';
		width: 40%;
		position: absolute;
		font-size: 20px;
		margin-top: 30%;
		color: #ffffff;
		margin-left: 5%;
	}
	& section {
		& h1 {
			font-family: 'Inter';
			color: #ffffff;
			margin-top: 5%;
			font-size: 100px;
		}
		& h2 {
			font-family: 'Italiana';
			margin-left: 35%;
			font-size: 25px;
			position: absolute;
			color: #ffffff;
		}
		& h3 {
			font-family: 'Italiana';
			position: absolute;
			font-size: 25px;
			margin-top: 1.5%;
			margin-left: 35%;
			color: #c7c7c7;
		}
		& h4 {
			font-family: 'Inter';
			color: #c7c7c7;
			font-size: 50px;
			margin-left: 5%;
		}
		& p {
			font-family: 'Inter';
			color: #ffffff;
			margin-left: 5%;
			margin-right: 5%;
			margin-top: 2%;
			font-size: 30px;
		}
	}
}

.footer {
	background-color: #333;
	color: #fff;
	padding: 10px 0;
	text-align: center;
	& .footer-icons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 20%;
		& .footer-icon {
			margin-top: 2%;
			text-decoration: none;
			& img {
				height: 100px;
				width: 100px;
			}
		}
	}
}
@media (max-width: 1200px) {
	.last-battle {
		height: 30rem;
		& h1 {
			margin-left: 5%;
		}
		& h2 {
			opacity: 0;
		}
		& h3 {
			opacity: 0;
		}
		& p {
			margin-top: 35%;
		}
		& h4 {
			margin-top: 10%;
		}
	}
	.header-wrpper {
		background-color: #012d63;
		width: 100%;
		height: 150px;
		& nav {
			margin-left: 15%;
		}
	}
	.lesson-wrapper {
		& .headline-text {
			margin-top: 1%;
			font-size: 60px;
		}
		& .headline-p {
			margin-top: 0%;
			width: 90%;
			margin-left: 5%;
			font-size: 25px;
		}
	}
	.last-battle {
		height: 800px;
		& p {
			margin-top: 45%;
			width: 90%;
			font-size: 25px;
			position: absolute;
		}
		& section {
			& p {
				display: none;
			}
		}
	}
}
@media (max-width: 768px) {
	.nav-links {
		flex-wrap: wrap;
	}
	.avengers-container {
		& .avengers-header img {
			margin-left: 0px;
			width: 100%;
		}
		& .avengers-header p {
			opacity: 0;
			position: absolute;
		}
	}
	.header-wrpper {
		background-color: #012d63;
		width: 100%;
		height: 93px;

		.block {
			margin-left: 50px;

			.nav {
				margin-left: 5%;
				display: flex;
				column-gap: 15%;
			}
		}
	}
	.lesson-wrapper {
		& .headline-text {
			margin-top: 1%;
			font-size: 60px;
		}
		& .headline-p {
			margin-top: 0%;
			width: 100%;
			margin-left: 5%;
			font-size: 25px;
		}
	}
	.epic-moments {
		padding-top: 3rem;
		height: 35rem;
	}
	.last-battle {
		& p {
			margin-top: 53%;
			width: 90%;
			font-size: 25px;
			position: absolute;
		}
		& section {
			& p {
				opacity: 0;
			}
		}
	}
	.div-section {
		& h3 {
			font-size: 200px;
			width: 50%;
		}
	}
	.avengers-content {
		& .avengers-images {
			& h1 {
				padding-top: 1%;
				font-size: 50px;
				color: #fff;
			}
		}
	}
	.last-battle {
		padding-top: 15%;
		& p {
			margin-top: 68%;
		}
	}
	.epic-moments {
		display: none;
	}
	.headline-p {
		display: none;
	}
}
@media (max-width: 480px) {
	.form-div {
		& form {
			width: 90%;
			margin-left: 5%;
		}
	}
	.header-wrapper {
		height: 200px;
	}
	.avengers-header {
		display: none;
		& p {
			display: none;
		}
		& avengers-logo {
			display: none;
		}
	}
	.div-section {
		& h3 {
			font-size: 100px;
		}
		& p {
			font-size: 15px;
		}
	}
	.avengers-container{
		.avengers-content {
			padding: 70px;
			& .avengers-images {
				padding-top: 5%;
				& h1 {
					font-size: 30px;
				}
			}
		}
	}
	.lesson-wrapper {
		display: none;
	}
	.last-battle{
		height: 700px;
		& img{
			width: 90%;
		}
		& p{
			display: none;
		}
		& section{
			display: none;
		}
	}
	.oskar-avengers{
		display: block;
		background: url('https://www.sanjose.org/sites/default/files/styles/listing_detail_image/public/2024-04/POP3_1x1.jpg.webp?itok=0YRAtfgV')
			no-repeat center/ cover;
		height: 500px;
		& h1 {
			padding-top: 50%;
			position: absolute;
			color: #fff;
			font-size: 40px;
			margin-left: 10%;
			margin-right: 10%;
			text-shadow: 2px 2px #000000;
		}
	}
	.oskar-avengers-medals{
		display: block;
		background: #000000;
		height: 300px;
		& p {
			color: #fff;
			margin-left: 10%;
			margin-right: 10%;
		}
	}
}
@media (max-width: 391px){
	.movies-wrapper{
		.block{
			.avengers{
				.div-section{
					& img{
						height: 500px;
					}
				}
			}
		}
	}
}