@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italiana&display=swap');

img{
	object-fit: cover;
}

.header-wrpper {
	background-color: #012d63;
	width: 100%;
	height: 93px;
}

.block {
	margin-left: 50px;
}

.nav {
	margin-left: 25%;
	display: flex;
	column-gap: 15%;
}

.nav-a {
	text-decoration: none;
	margin-top: 30px;
	font-weight: 400;
	font-size: 24px;
	color: #c7c7c7;
}

.nav-a:hover {
	color: #012d63;
	height: 40px;
	font-family: 'Italiana';
	border-radius: 15px;
	background-color: #f7ebeb;
	box-shadow: 0 0 20px rgb(48, 153, 228), 0 0 40px rgba(249, 252, 255, 0.6),
		0 0 60px rgba(171, 198, 226, 0.6);
	transform: scale(1.1);
}

.a-nav:hover {
	color: #012d63;
	height: 40px;
	border-radius: 15px;
	font-family: 'Italiana';
	background-color: #2584bb;
	box-shadow: 0 0 20px rgb(63, 57, 57), 0 0 40px rgba(55, 88, 125, 0.6),
		0 0 60px rgba(171, 198, 226, 0.6);
	transform: scale(1.1);
}

.a-nav:nth-child(1) {
	text-decoration: none;
	margin-top: 30px;
	font-weight: 400;
	font-size: 24px;
	color: #fff;
}

.div-main-wrapper {
	background: url(https://th.bing.com/th/id/R.f87a0379b71dd4cb1e1a79a24c900b0c?rik=RAEwKEBWKjE4xw&pid=ImgRaw&r=0)
		no-repeat center/ cover;
	height: 100rem;
	width: 100%;
}

.avatar-films {
	color: #fff;
	font-family: 'Italiana';
	font-size: 2rem;
	opacity: 0.5;
	background-color: #7a0224;
	box-shadow: 0 0 20px rgb(48, 153, 228), 0 0 40px rgb(255, 255, 255),
		0 0 60px rgba(79, 164, 255, 0.6);
}

.avatar-films:nth-child(1) {
	position: absolute;
	width: 40%;
	top: 90%;
	left: 50%;
	padding: 10px;
	border-radius: 5px;
	font-family: 'Italiana';
	box-shadow: 0 0 20px rgb(255, 0, 0), 0 0 40px rgb(57, 3, 3),
		0 0 60px rgba(255, 255, 255, 0.6);
}

.avatar-films:nth-child(2) {
	position: absolute;
	background-color: #012d63;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 20px rgb(48, 153, 228), 0 0 40px rgb(255, 255, 255),
		0 0 60px rgba(79, 164, 255, 0.6);
	width: 30%;
	margin-top: 50%;
	left: 65%;
}

.avatar-films:nth-child(3) {
	position: absolute;
	width: 40%;
	top: 90%;
	padding: 10px;
	border-radius: 5px;
	font-family: 'Italiana';
	background-color: #4dff00;
	box-shadow: 0 0 20px rgb(255, 255, 255), 0 0 40px rgb(53, 82, 16),
		0 0 60px rgba(44, 33, 10, 0.6);
}

.avatar-films:nth-child(4) {
	position: absolute;
	width: 40%;
	top: 180%;
	padding: 10px;
	border-radius: 5px;
	font-family: 'Italiana';
	background-color: #2584bb;
	box-shadow: 0 0 20px rgb(238, 0, 255), 0 0 40px rgb(255, 255, 255),
		0 0 60px rgba(0, 0, 0, 0.6);
}

.language-avatar-wrapper {
	background: url(https://file1.telestar.fr/var/telestar/storage/images/3/1/0/7/3107562/avatar.jpg?alias=exact1024x768_l&size=x100&format=jpeg)
		no-repeat center/ cover;
	height: 90rex;
	width: 100%;
}

.text-avatar-ul-li:nth-child(1) {
	padding-top: 50px;
	p{
		background-color: rgba(255, 255, 255, 0.3);
		backdrop-filter: 10px;
		border-radius: 10px;
		padding: 20px;
	}
}

.text-avatar-ul-li:nth-child(2) {
	width: 50%;
	height: 20rem;
	margin-left: 60%;
	border-radius: 30px;
	p{
		background-color: rgba(255, 255, 255, 0.3);
		backdrop-filter: 10px;
		border-radius: 10px;
		padding: 20px;
	}
}

.text-avatar-ul-li:hover {
	animation: color 5s ease-in-out;
}

@keyframes color {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.avatar-text-p {
	font-family: 'Inter';
	font-weight: 400;
	width: 30%;
	font-size: 20px;
	color: #fff;
}

.btn {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 25px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	background-color: #fff;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
	vertical-align: top;
	transition: box-shadow 0.2s;
}
.btn:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn:active {
	background-color: #808080;
}

.text-field__icon {
	position: relative;
}
.father {
	display: flex;
	margin-left: 15%;
	gap: 25%;
}
.lesson-wrapper {
	height: 35rem;
	width: 100%;
	background: #382b36;
	& .headline-text {
		position: absolute;
		color: #ffffff;
		margin-left: 5%;
		font-size: 80px;
	}
	& .headline-p {
		position: absolute;
		margin-top: 7%;
		width: 30%;
		margin-left: 10%;
		font-size: 25px;
		color: #ffffff;
	}
	& .img {
		float: right;
		height: 35rem;
		width: 50%;
	}
}

.end {
	& .end-wrapper {
		background-color: #382b36;
		height: 50rem;
		& .ul-end {
			padding-top: 10%;
			display: flex;
			gap: 5%;
			margin-left: 5%;
			& .h-end {
				margin-top: 10%;
				font-size: 30px;
				color: #ffffff;
			}
			& .text-end {
				margin-top: 15%;
				font-size: 20px;
				color: #ffffff;
			}
			& .camera {
				width: 25rem;
				height: 25rem;
				border-radius: 30px;
				object-fit: cover;
			}
		}
	}
}
.section-wrapper {
	width: 100%;
	height: 100%;
	.avatar-section {
		margin-top: 20%;
		padding-bottom: 20%;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		& h1 {
			font-size: 300px;
			color: #ffffff;
			mix-blend-mode: overlay;
		}
		& img {
			position: absolute;
			height: 131%;
			width: 100%;
		}
	}
}

.footer {
	background-color: #333;
	color: #fff;
	padding: 10px 0;
	text-align: center;
	& .footer-icons {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20%;
		& .footer-icon {
			text-decoration: none;
			& img {
				height: 100px;
				width: 100px;
			}
		}
	}
}

@media (max-width:1200px){
	.end .end-wrapper .ul-end .camera {
		width: 20rem;
		height: 25rem;
		border-radius: 30px;
		-o-object-fit: cover;
		   object-fit: cover;
	  }
	  .headline-p{
		font-size: 30px;
		width: 200px;
		text-shadow: 2px 2px #000000;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	  }
	  .header-wrpper {
		background-color: #012d63;
		width: 100%;
		height: 150px;
		& nav{
			margin-left: 15%;
		}
	}
}